  /* Estilos para o página */
body {
    font-family: Arial, sans-serif;
    text-decoration: solid;
    align-items: center;
    margin-top:300px;
    width:100%;
    height:100%;
    background-image: url("./../background.png");
    background-size: cover;
    background-repeat: no-repeat;   
    background-color: #000;
    overflow: hidden;
}
.box {
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 20px;
  border-color: #000;
  background-color: #fff;
  font-weight: bold;
  font-size: 24 px;
  text-align: center; 
}
#field {
  width: 300px;
  flex-wrap: wrap;
    margin-top:300px;
}
.zero {
  opacity: .8;
}
      /* Estilos para o título */
  h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:200px;
    text-align: center;
    margin:50;
  }

/* Estilos para o botão */
button {
    background-color: #fff; 
    border: none;
    color: #000; 
    padding: 15px 32px; 
    text-align: center; /* Alinhamento de texto */
    text-decoration: none; /* Sem decoração de texto */
    font-size: 20px; /* Tamanho da fonte */
    margin: 10px 720px; /* Margem */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 15px;
  }
  /* Estilos para o botão quando o mouse estiver sobre ele */
  button:hover {
    background-color:  	#FFA500; /* Nova cor de fundo */
  }
  /* Estilos para menu de opções */
  op {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: 'center';
  margin: 0 auto; 
  display: block; 
}
/* Estilos para menu de opções */
form {
  text-align: center;
  color: #fff; 
  font-size: 25px; 
  margin-top:300px;
}
/* Dimensionamento da matriz */
table {
  margin: 0 auto;
}

#reloadButton{
  width: 10%;
}